

.img9{ 
    display: flex;
   
    
}
.Cimg{
    
   margin: 10px 706px;
} 

.tit {
    font-size: xx-large;
    position: absolute;
     margin:-614
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     px 215px;
     font-size: 60px;
     font-family: 'Kalam', cursive;
}
   
    
.par{
    position: absolute;
    text-align: center;
    margin: -498px 30px;
    font-size: 16px;
}
.p2{
    position: absolute;
    text-align: center;
    margin: -550px 30px;
}
.info{
    position: absolute;
    width: 40%;
   margin: -357px 130px;
   display: flex;
   gap: 60px;
}
h2{
    position: absolute;
    margin: -399px 207px;
    font-family: 'Kalam', cursive;
}


