body{
    background-image: url(../assiet/vecteezy_world-map-vector-isolated-on-white-background-flat-earth_8089671.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
}

.Flights{
    display: flex;
    justify-content: space-around;
    width: 40%;
   padding: 108px 26px;
    margin-left: 750px;
   background-color: #C7E8CA;
    margin-top: 157px;
    color: black;
    opacity: 0.9; 
    
   
}
.travel{
    
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    gap: 100px;
   
}
.travel1{
    
    display: flex;
    justify-content: space-around;
}
.title h1{
    color: #C7E8CA;
    font-size: 100px;
    justify-content: center;
    margin-left: 150px;
    margin-top: -370px;
    width: 30%;
    text-shadow: 5px 5px 5px  #DDF7E3;
}
.btn{
    position: absolute;
    margin-top: 60PX;
    margin-left: 200px;
    background-color: none;
    background-color: #5D9C59;
    border: none;
   padding: 10px 15px;
   border-radius: 30px;
   justify-content: center;
   text-align: center ;
   text-transform: uppercase;
   cursor: pointer;
   box-shadow: 0 0 15px #414143;
   -webkit-transition-duration: 0.3s;
   transition-duration: 0.3;
   -webkit-transition-property: box-shadow, transform;
   transition-property:  box-shadow, transform ;
}
.btn:hover, .btn:focus, .btn:active{
    box-shadow: 0 0 20px #414143;
    -webkit-transform: scale(1.1);
    transform: scale(1.5);
}
.footer{
    margin-top: 100px;
}


